.header {
    background-color: #930534 !important;
    height: 42px;
}

.header h1 {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -35px !important;
    padding: 0 !important;
    color: white;
    font-size: 1.6rem !important;
    line-height: 40px;
    font-weight: normal;
}

a {
    transition: all .1s;
}

a:active {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
}

.ui-content {
    padding: 4% !important;
}

.fun-fact-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.fun-fact span {
    font-size: 1.5rem;
}

a.back-button {
    display: block;
    height: 1.8rem;
    padding: .4rem 5rem .3rem .5rem;
    float: left;
}

.back-button img {
    height: 100%;
}

.meter-image {
    display: block;
    width: 88%;
    margin: 0 auto;
}

.meter-text-status {
    margin-top: -.25rem;
    margin-bottom: .4rem;
    text-align: center;
    font-size: 0.8em;
}

.company-name {
    font-size: 1.6rem;
    margin-top: -.5rem;
    margin-bottom: .4rem;
    text-align: center;
}

.buttons-wrapper {
    margin: 0 4%;
}

.buttons-wrapper a {
    display: block;
    margin: .2rem 0;
}

.buttons-wrapper img {
    width: 100%;
}

.ui-li-desc {
    white-space:normal;
}​

.receipt {
    padding: 10.5rem;
}

.image-upload input
{
    display: none;
}

.image-upload img {
    width: 100%;
}

.ui-btn-icon-right:after {
    background-color: #2EAFA4 !important;
}

.ui-btn-icon-left:after {
    background-color: #2EAFA4 !important;
}
